html, body {
    height: 100%;
    font-family: Lato, Helvetica, Arial;
    color: rgb(35, 35, 51);
    background-color: rgb(57, 57, 77);
}

html {
    font-size: 62,5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    margin: 0 px;
    display: block;
}

div {
    display: block;
}

#skiptocontent {
    text-align: left;
    z-index: 9999;
}

#skiptocontent a {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    z-index: 9999;
    position: absolute;
    left: 0px;
    color: white;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    padding: 6px;
    background: transparent;
    transition: top 1s ease-out 0s, background 1s linear 0s;
}

#content_container {
    padding-top: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 624px;
}

.mini-layout-body {
    margin: 0px auto;
}

#meeting_register_container {
    margin: 0 auto;
    max-width: 900px;
    min-height: 600px;
    padding-top: 20px;
}

h1:first-child {
    margin-top: 0px;
}

.offscreen {
    position: absolute;
    font-size: 1px;
    left: -9999px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

#meeting_register_container .page-header {
    text-align: center;
    margin-bottom: 40px;
}

.page-header {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    color: #232333;
    text-align: center;
}

#meeting_register_container .form-group {
    margin-left: 20px;
}

.form-group {
    margin-bottom: 24px;
}

#meeting_register_container .ico-width {
    width: 32px;
}

#meeting_register_container .share-ico {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
}

#meeting_register_container .ico-size {
    width: 32px;
    height: 32px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon .glyphicon-fb {
    background: transparent url(https://us02st1.zoom.us/static/6.1.6568/image/webinar/share-ico-mobile.png) no-repeat scroll 0 0;
    background-size: cover;
}

.glyphicon .glyphicon-tw {
    background: transparent url(https://us02st1.zoom.us/static/6.1.6568/image/webinar/share-ico-mobile.png) no-repeat scroll -32px 0;
    background-size: cover;
}

.glyphicon .glyphicon-ln {
    background: transparent url(https://us02st1.zoom.us/static/6.1.6568/image/webinar/share-ico-mobile.png) no-repeat scroll -64px 0;
    background-size: cover;
}

.glyphicon .glyphicon-outlook {
    background: transparent url(https://us02st1.zoom.us/static/6.1.6568/image/webinar/share-ico-mobile.png) no-repeat scroll -96px 0;
    background-size: cover;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

span {
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
}

a {
    text-decoration: none;
    color: #0e71eb;
}

.webinar_topic{
    display: table-cell;
    width: 670px;
    text-align: left;
}

#meeting_register_container .form-group {
    margin-left: 20px;
}

#meeting_register_container .horizontal .control-label {
    float: left;
    width: 80px;
    text-align: left;
}

.webinar_topic label {
    font-weight: 600;
}

#meeting_register_container .horizontal .controls {
    margin-left: 100px;
}

#meeting_register_container .form-group {
    margin-left: 20px;
}

#switch_timezone {
    color: rgb(14, 113, 235);
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.span1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 230px;
}

#questions_container {
    position: relative;
}

#meeting_register_container .row {
    margin: 0 0;
}

.col-md-6 {
    width: 50%;
    float: left;
}

label {
    font-weight: normal;
    display: inline-block;
    margin-bottom: 5px;
}

#meeting_register_container i {
    color: #E02828;
    margin-right: 5px;
}

#meeting_register_container a.submit{
    width: 200px;
}

.btn .btn-lg {
    line-height: 38px;
    font-size: 18px;
    padding: 5px 35px;
}

.btn-primary {
    background-color: #0e71eb;
    color: #0e71eb;
    border-color: #fff;
}

.btn {
    border-radius: 8px;
    padding: 5px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #0e71eb;
}

/* .form-control {
    color: #232333;
    border-radius: 8px;
    box-shadow: none;
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #babacc;
} */

.form-control {
    border-radius: 8px;
    display: block;
    width: 80%;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color
        ease-in-out .15s,box-shadow
        ease-in-out .15s;
}